@use "../abstracts/variables" as variable;

*{
    box-sizing: border-box;
}

body {
    font-family: variable.$font-primary;
    background-color: variable.$color-bg;
    color: variable.$color-text-primary;
    display: flex;
    flex-direction: column;
}

section {
    margin-bottom: 3rem;
}

h1 {
    font-family: variable.$font-h1-h3;
    font-size: 2rem;
    color: variable.$color-title-text-secondary;
}

h2 {
    font-family: variable.$font-h2;
    color: variable.$color-title-text-secondary;
    font-size: 1.5rem;
}

h3 {
    font-family: variable.$font-h1-h3;
    font-size: 1.3rem;
    color: variable.$color-title-text-secondary;
    text-align: center;
}

p {
    font-size: 0.9rem;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: circle 2px;
}
ul li::marker {
    color: variable.$color-primary; 
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}