
@font-face {
    font-family: "poppins regular";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "poppins italic";
    src: url(../fonts/Poppins/Poppins-Italic.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "poppins semi-bold";
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "poppins bold";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "poppins extra-light";
    src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "gentium regular";
    src: url(../fonts/GentiumBookPlus-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "gentium bold";
    src: url(../fonts/GentiumBookPlus-Bold.ttf);
    font-weight: 700;
}