@use "../Base/typographie";

$font-h1-h3: "gentium bold";
$font-h2: "gentium regular";
$font-primary: "poppins regular";
$font-secondary: "poppins semi-bold";
$font-italic: "poppins italic";
$font-bold: "poppins bold";
$font-xlight: "poppins extra-light";

$color-bg: #020202;
$color-text-primary: #9DA2AB;
$color-title-text-secondary: #A188A6;
$color-primary: #0D324D;
$color-accent: #7F5A83;
