@use "../abstracts/variables" as variable;

header {
    position: fixed;
    width: 35%;
    .header__presentation {
        .header__titles {
            display: flex;
            align-items: center;
            width: 100%;
            p {
                margin-right: 4rem;
                width: 50%;
            }
            h1 {
                margin-bottom: 0;
            }
            h2 {
                margin-top: 0;
            }
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-right: 2rem;
                object-fit: cover;
            }
        }
        .header__navbar {
            margin-bottom: 5rem;
            margin-top: 5rem;
            margin-left: 1rem;
            a {
                color: variable.$color-text-primary;
            }
            li {
                list-style: none;
                margin-bottom: 0.5rem;
            }
            li a::before {
                content: "";
                display: inline-block;
                width: 70px;
                height: 3px;
                background: variable.$color-text-primary;
                margin-right: 4rem;
                transition: width 0.3s ease, background 0.3s ease;
            }
            li a:hover::before {
                width: 150px; 
                background: linear-gradient(to right, variable.$color-text-primary, variable.$color-primary);
            }
        }
        .header__reseaux {
            text-align: center;
            .reseaux {
                font-size: 3rem;
                color: variable.$color-text-primary;
                margin-right: 2rem;
                &:hover {
                    background: linear-gradient(to right, #9DA2AB, #0D324D);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transform: scale(1.2);
                }
            }
        }
    }
}

