@use "../abstracts/variables" as variable;

header {
    position: fixed;
    width: 35%;
    .header__presentation {
        .header__titles {
            display: flex;
            align-items: center;
            width: 100%;
            p {
                margin-right: 4rem;
                width: 50%;
                font-family: variable.$font-italic;
            }
            h1 {
                margin-bottom: 0;
            }
            h2 {
                margin-top: 0;
            }
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-right: 2rem;
                object-fit: cover;
            }
        }
        .header__navbar{
            margin-top: 5rem;
            margin-left: 3rem;
            a {
                color: variable.$color-text-primary;
            }
            li {
                list-style: none;
                margin-bottom: 0.5rem;
            }
            li a::before {
                content: "";
                display: inline-block;
                width: 70px;
                height: 3px;
                background: variable.$color-text-primary;
                margin-right: 4rem;
                transition: width 0.3s ease, background 0.3s ease;
            }
            li a:hover::before {
                width: 150px; 
                background: linear-gradient(to right, variable.$color-text-primary, variable.$color-primary);
            }
            li a.active::before {
                width: 150px;
                background: linear-gradient(to right, variable.$color-text-primary, variable.$color-primary);
              }
        }
    }
    .header__reseaux {
        margin-left: -1rem;
        text-align: center;
        margin-top: 4rem;
        .reseaux {
            font-size: 2rem;
            color: variable.$color-text-primary;
            margin-right: 2rem;
            &:hover {
                background: linear-gradient(to right, #9DA2AB, #0D324D);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                transform: scale(1.2);
            }
        }
    }
}

// Icône burger
.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    span {
        width: 30px;
        height: 3px;
        background-color: variable.$color-text-primary;
        border-radius: 2px;
        transition: all 0.3s ease;
    }
}


@media screen and (max-width: 1000px) {
    header {
        position: relative;
        width: 100%;
        .header__titles {
            display: flex;
            flex-direction: column;
            .img-burger {
                width: 100%;
                display: flex;
                justify-content: space-between;
                .burger {
                    display: flex;
                }
            }
            .header__text {
                text-align: center;
                p {
                    width: 100%;
                }
            }
        }
    }
    .dropdown {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        width: 100%;
        ul {
            padding-left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
        }
        &.open {
            max-height: 500px;
        }
    }
}
